<?xml version="1.0" encoding="UTF-8"?>
<testsuites name="Mocha Tests" time="0.001" tests="1" failures="0">
  <testsuite name="Root Suite" timestamp="2019-06-22T16:14:31" tests="0" failures="0" time="0">
  </testsuite>
  <testsuite name="Array" timestamp="2019-06-22T16:14:31" tests="0" file="D:\Github\Split\web\website\test\test.js" failures="0" time="0">
  </testsuite>
  <testsuite name="#indexOf()" timestamp="2019-06-22T16:14:31" tests="1" file="D:\Github\Split\web\website\test\test.js" failures="0" time="0.001">
    <testcase name="Array #indexOf() should return -1 when the value is not present" time="0.001" classname="should return -1 when the value is not present">
    </testcase>
  </testsuite>
</testsuites>